.forecast{
    color: white;
    width: 150px;
}

#header{
    color: white;
    text-align: center;
    padding: 3px;
}

.mainIcon{
    width: 50px;
    height: 50px;
}

#main, #forecast{

    visibility: hidden;
    

}

.bg-orange
{
    background-color: rgb(255, 102, 0);
}

.btnCity:hover{

    background-color: rgb(175, 223, 238);

    
}

.btnCity:active{

    background-color:rgb(47, 162, 255);
}

